@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf');
  }

body {
    font-family: 'Inter', sans-serif;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: #3e52a3
}

.text-color-orange {
    color: #e9ab53;
}

.text-color-red {
    color: #f15e50;
}

.text-color-off-white {
    color: #fffdfa;
}

.text-color-gray-blue {
    color: #c5c6ce;
}

.text-color-dark-gray-blue {
    color: #5d5f79;
}

.text-color-very-dark-blue {
    color: #00001a;
}

a:hover {
    color: #f15e50;
}