@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: interFont;
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf');
  }

body {
    font-family: interFont, sans-serif;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

.text-color-orange {
    color: hsl(35, 77%, 62%);
}

.text-color-red {
    color: hsl(5, 85%, 63%);
}

.text-color-off-white {
    color: hsl(36, 100%, 99%);
}

.text-color-gray-blue {
    color: hsl(233, 8%, 79%);
}

.text-color-dark-gray-blue {
    color: hsl(236, 13%, 42%);
}

.text-color-very-dark-blue {
    color: hsl(240, 100%, 5%);
}